<div>
  <h2>Your form inputs</h2>
  <h4>First Name</h4>
  <h3>
    <%= @student_first_name %>
  </h3>
  <h4>Last Name</h4>
  <h3>
    <%= @student_last_name %>
  </h3>
  <h4>Age</h4>
  <h3>
    <%= @student_age %>
  </h3>
  <h4>Gender</h4>
  <h3>
    <%= @student_gender %>
  </h3>
</div>
